*{
    margin:0;
    padding: 0;
}

body{
    margin-left:15%;
    width:70%;
}
#header{
    display:flex;
    justify-content: space-around;
    margin:85px 0 85px 0;
}
#header h2{
    font-family: 'Oswald', sans-serif;
    font-size:35px;
    font-weight: bold;
    
}
#header div{
    font-family: 'Mulish', sans-serif;
    flex-basis:35%;
}
#header h5{
    font-size: 18px;
    font-weight: bold;
}
#header p{
    margin-top:10px;
    width:75%;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gal-img{
    max-width:100%;
}
figure{
    height:100%;
    flex-basis: 20%;
    justify-self: stretch;
    margin: 40px;
    flex-grow: 1;

}
.bottom-cap{
    font-weight: bold;
}
.side-cap{
    writing-mode:vertical-lr;
    position: absolute;
}

#pic-2{
    margin-top:100px;
}
#pic-5{
    margin-top:100px;
}
@media(max-width:873px){
    #pic-2,#pic-4,#pic-6{
        margin-top:100px;
    }
    #pic-5{
        margin-top:40px;
    }
    #header{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin:30px 0 30px 0;
    }
}